<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Step2</title>
</head>
<body>
  <div>
    <h1>If your seeing things...thats means I'm potentually doing something right.</h1>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae debitis voluptas
      assumenda ab in quos placeat aperiam impedit facere culpa totam rerum ea asperiores,
      quod pariatur voluptate vel consequuntur eum.</p>
  </div>
</body>
</html>
