<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Step3</title>
</head>
<body>
  <div>
    <h1>If your seeing things...thats means I'm potentually doing something right.</h1>
  </div>
  <form method="POST">
    Name: <input type="text" name="name">
    Age: <input type="text" name="age">
    <input type="submit">
  </form>
</body>
</html>
